/* 회원 > 블랙리스트 신고게시판 CSS */

/* common */
aside {
	width: 17%;
}

.contentsection {
	width: 74%;
}

.board-title {
	font-variant: small-caps;
}

.btns {
	text-align: right;
}

.btns button {
	width: 120px;
	height: 50px;
	margin-left: 20px;
}


/* add, view */
#tblAdd th, #tblView th {
	width: 150px;
}

#tblAdd td, #tblView td {
	width: auto;
}

/* add > content */
#tblAdd #content {
	height: 200px;
}

/* add > image attach button */
#tblAdd #image {
	display: none;
}

/* view */

/* view > imgname */
#tblView .imgname {
	display: block;
}

/* view > insertimg */
#tblView .insertimg {
	max-width: 550px;
	display: block;
	margin: 5px auto;
}

/* view > content */
#tblView .content {
	margin-top: 20px;
}

/* view > comment */

.comment-title {
	font-variant: small-caps;
}

/* view > comment table */

#tblComment {
	margin-top: 20px;
}

#tblComment th:nth-child(1) {
	width: 180px;
}

#tblComment th:nth-child(2) {
	width: auto;
}

#tblComment th:nth-child(3) {
	width: 200px;
}

#tblComment th, #tblComment td {
	padding-left: 10px;
}

/* view > write comment */
h4.comment-title {
	margin-top: 30px;
}

.write-comment textarea {
	width: 85%;
	height: 100px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}

.write-comment button {
	width: 10%;
	float: left;
	margin-top: 2.5%;
}

.write-comment::after {
	content: "";
	display: block;
	clear: both;
}

/* list */
#btnAdd {
	float: right;
	width: 120px;
	height: 50px;
}

