/* main.css */

@font-face {
    font-family: 'Binggrae-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, div, span, a, table, th, td, input, button, textarea, h1, h2, h3 {
	font-family: 'Binggrae-Bold';
}

main {
	width:700px;
	margin:0px auto;
}

main > header > div > div {
	float:left;
	margin-right:10px;
}

main > header > div > div:last-child {
	float:right;
}

main > header > div::after {
	content:"";
	display:block;
	clear:left;
}

main > header {
	margin-bottom:20px;
}