<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>



	<!-- ############### 다은 #################3 -->
	<typeAliases>
	
		<!-- trip info -->
		<typeAlias type="com.test.bnna.admin.board.tripinfo.TripInfoDTO" alias="TripInfoDTO"/>
		<typeAlias type="com.test.bnna.admin.board.tripinfo.TripInfoImgDTO" alias="TripInfoImgDTO"/>
		<typeAlias type="com.test.bnna.admin.board.tripinfo.TripInfoCmtDTO" alias="TripInfoCmtDTO"/>
		
		<!-- my page -->
		<typeAlias type="com.test.bnna.member.mileage.MileageDTO" alias="MileageDTO"/>
		<typeAlias type="com.test.bnna.member.dibs.DibsDTO" alias="DibsDTO"/>
	
		<!-- trip plan -->
		<typeAlias type="com.test.bnna.member.tripplan.TripPlanDTO" alias="TripPlanDTO"/>
		<typeAlias type="com.test.bnna.member.tripplan.PlanDetailDTO" alias="PlanDetailDTO"/>
		
	</typeAliases>

	
</configuration>