<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- ############ 수경 -->
		<typeAlias type="com.test.bnna.admin.board.event.EventBoardDTO" alias="eventBoarddto"/>
		<typeAlias type="com.test.bnna.admin.board.event.EventCmtDTO" alias="eventCmtdto"/>

		<!-- ############ 주혁 시작 -->
		<!-- 회원 > 신고게시판 -->
		<typeAlias type="com.test.bnna.member.board.blackboard.BlackBoardDTO" alias="blackboarddto"/>
		<typeAlias type="com.test.bnna.member.board.blackboard.BlackBoardImgDTO" alias="blackboardimgdto"/>
		<typeAlias type="com.test.bnna.member.board.blackboard.BlackBoardCmtDTO" alias="blackboardcmtdto"/>
		<typeAlias type="com.test.bnna.member.board.blackboard.MemberDTO" alias="memberdto"/>
		<!-- ############ 주혁 끝 -->
		
	</typeAliases>
</configuration>